body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    background-color: rgb(241, 241, 241);
}

#content {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}


.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: 5px;
    overflow-wrap: break-word;
}

.app-toolbar-0 {


}

.app-toolbar-0  > [main-title],.app-toolbar-0  > [condensed-title] {

}

.app-toolbar-0  > [main-title] a {
    color: white;
    text-decoration: none;
    pointer-events: auto;
    padding: 10px 4%;
}

.login-area {
    font-size: 20px;
    padding-right: 4%;
}

.login-area a {
    color: white;
    text-decoration: none;
}

.login-area a.newpost-link:hover, a.login-link:hover {
    text-decoration: underline;
}