{% extends "base.html" %}
{% block content %}
    <div>
        {% for post in posts %}
            <article>
                <h1 class="article-title"><a href="/post/{{post.key.id()}}">{{post.subject}}</a></h1>
                <div class="article-meta">
                    <p class="author">Author: {{post.author_key.get().username}}</p>
                    <p class="date">Posted On: {{post.created.strftime("%d-%m-%Y %H:%M")}}</p>
                </div>
                <p class="content">{{post.content}}</p>
                <div class="article-footer">
                    <p class="like">
                        {% if user.key in post.liked_by: %}
                            {% set text = 'Unlike' %}
                        {% else: %}
                            {% set text = 'Like' %}
                        {% endif %}
                        <a href="/like/{{post.key.id()}}">{{text}} <span>[{{ post.liked_by|length }} like(s)]</span></a>
                    </p>
                    <p class="comments"><a href="/newcomment/{{post.key.id()}}">Comment</a>
                    <p class="edit"><a href="/post/edit/{{post.key.id()}}">Edit</a></p>
                    <p class="delete"><a href="/delete/{{post.key.id()}}">Delete</a></p>
                </p>
            </div>
        </article>
    {% endfor %}
</div>
{% endblock%}