{% extends "base.html" %}
{% block content %}
    <h2>{{heading}}</h2>
    <form method="post">
        <div class="form-group">
            <paper-input label="subject" type="text" class="form-control" name="subject" value="{{subject}}">
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea label="content" rows="15" name="content" style="width:100%"">{{content}}</textarea>
            </div>
            <p class="error" id="post_form_error">{{error}}</p>
        <paper-button raised class="green"><button type="submit">SUBMIT</button></paper-button>
        <a href="/" style="text-decoration: none"><paper-button raised class="red">CANCEL</paper-button></a>
    </form>
{% endblock %}