{% extends "base.html" %}
{% block content %}
    <div>
        <form method="post" id="signup_form">
            <div class="form-group">
                <paper-input label="username" type="text" class="form-control" id="username" name="username" value="{{username}}">
                </div>
                <p class="error" id="username_error">{{username_error}}</p>
                <div class="form-group">
                    <paper-input label="password" type="password" class="form-control" id="password" name="password">
                    </div>
                    <p class="error" id="password_error">{{password_error}}</p>
                    <div class="form-group">
                        <paper-input label="verify password" type="password" class="form-control" id="verify" name="verify">
                        </div>
                        <p class="error" id="verify_error">{{verify_error}}</p>
                        <div class="form-group">
                            <paper-input label="e-mail (optional)" type="text" class="form-control" id="email" name="email">
                            </div>
                            <p class="error" id="email_error">{{email_error}}</p>
                        <paper-button raised class="green"><button type="submit">SIGN UP</button></paper-button>
                        <a href="/login">Already have an account?</a>
                    </form>
                </div>
            {% endblock%}